USE [master]
GO
/****** Object:  Database [dbHospital]    Script Date: 28/06/2019 13:33:32 ******/
CREATE DATABASE [dbHospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbHospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\dbHospital.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbHospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\dbHospital_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbHospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbHospital]
GO
/****** Object:  Table [dbo].[TCitaMedica]    Script Date: 28/06/2019 13:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TCitaMedica](
	[Codigo] [int] NOT NULL,
	[Fecha] [datetime] NULL,
	[Precio] [float] NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_TCitaMedica] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TDoctor]    Script Date: 28/06/2019 13:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TDoctor](
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[DNI] [varchar](8) NOT NULL,
	[Telefono] [varchar](9) NULL,
	[Sexo] [varchar](9) NULL,
	[Edad] [int] NULL,
	[Especialidad] [varchar](50) NULL,
	[Turno] [varchar](50) NULL,
	[Codigo_Cita] [int] NULL,
	[Id_Especialidad] [int] NULL,
 CONSTRAINT [PK_TDoctor] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEspecialidad]    Script Date: 28/06/2019 13:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEspecialidad](
	[Nombre] [varchar](50) NULL,
	[Id_Especialidad] [int] NOT NULL,
 CONSTRAINT [PK_TEspecialidad] PRIMARY KEY CLUSTERED 
(
	[Id_Especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TPaciente]    Script Date: 28/06/2019 13:33:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TPaciente](
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[DNI] [varchar](8) NOT NULL,
	[Telefono] [varchar](9) NULL,
	[Sexo] [varchar](9) NULL,
	[Edad] [int] NULL,
	[Padecimiento] [varchar](50) NULL,
	[CodigoCita] [int] NULL,
 CONSTRAINT [PK_TPaciente] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TDoctor]  WITH CHECK ADD  CONSTRAINT [FK_TDoctor_TCitaMedica] FOREIGN KEY([Codigo_Cita])
REFERENCES [dbo].[TCitaMedica] ([Codigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TDoctor] CHECK CONSTRAINT [FK_TDoctor_TCitaMedica]
GO
ALTER TABLE [dbo].[TDoctor]  WITH CHECK ADD  CONSTRAINT [FK_TDoctor_TEspecialidad] FOREIGN KEY([Id_Especialidad])
REFERENCES [dbo].[TEspecialidad] ([Id_Especialidad])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TDoctor] CHECK CONSTRAINT [FK_TDoctor_TEspecialidad]
GO
ALTER TABLE [dbo].[TPaciente]  WITH CHECK ADD  CONSTRAINT [FK_TPaciente_TCitaMedica] FOREIGN KEY([CodigoCita])
REFERENCES [dbo].[TCitaMedica] ([Codigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TPaciente] CHECK CONSTRAINT [FK_TPaciente_TCitaMedica]
GO
USE [master]
GO
